*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rowdies', cursive;
}

.container {
}

h1 {
  margin: 3.5em 0 20px;
  text-align: center;
}

.main-content {
  display: flex;
  justify-content: center;
  /* align-items: center */
}

.stats {
  border: 1px solid #eee;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  line-height: 1.3;
}

.stats,
.selection,
.battle {
  border-radius: 3px;
}

.selection,
.battle {
  display: flex;
  border: 1px solid #eee;
}

.stats .top-box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stats button {
  padding: 2px;
  margin-top: 5px;
  cursor: pointer;
}

.box {
  padding: 12px;
  transition: background-color 0.2s;
}

.selection .box {
  cursor: pointer;
}

.selection .box:hover {
  background-color: #eee;
}

.selection .box:first-child {
  border-right: 1px solid #eee;
}

.selection .box:nth-child(3) {
  border-left: 1px solid #eee;
}

.battle .box:first-child {
  border-right: 1px solid #eee;
}

.box .box-image {
  display: flex;
  align-items: center;
  width: 10em;
  height: 17em;
}

.box .box-image img {
  width: 100%;
}

.battle {
  display: none;
  opacity: 0;
}

.restart {
  display: none;
  margin-top: 20px;
  justify-content: center;
}

#btn-restart {
  padding: 10px;
  cursor: pointer;
}
