*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  margin-bottom: 20px;
}

.selection,
.battle {
  display: flex;
}

.box {
  border: 1px solid #eeeeee;
  padding: 12px;
  transition: background-color 0.2s;
}

.selection .box {
  cursor: pointer;
}

.selection .box:hover {
  background-color: #eeeeee;
}

.selection .box:first-child {
  border-right: none;
}

.selection .box:last-child {
  border-left: none;
}

.battle .box:first-child {
  border-right: none;
}

.box .box-image {
  display: flex;
  align-items: center;
  width: 200px;
  height: 20em;
}

.box .box-image img {
  width: 100%;
}

.battle {
  display: none;
  opacity: 0;
}
